* {
  box-sizing: border-box;
  font-size: 0.98em;
}
.btn {
  height: 30px;
  width: 25px;
  height: 25px;
  margin: 15px 10px 15px 10px;
}

.smallHeart {
  height: 12px;
  width: 12px;
}

.userName,
.userId,
.bold {
  font-weight: 900;
}

.gray {
  color: #797878;
}
.lightgray {
  color: #bebebe;
}

body {
  width: 100%;
  margin: 0;
}

nav {
  position: relative;
  height: 50px;
  border-bottom: 1px solid lightgray;
}

.navWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* vertical-align: middle; */
  /* align-content: center; */
  width: 940px;
  height: 50px;
}

.textLogo {
  width: 103px;
  height: 29px;
  object-fit: cover;
  /* margin-top: 15px; */
}

.search {
  width: 220px;
  height: 30px;
  text-align: center;
  color: #797878;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
}

main {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feeds {
  width: 615px;
}

article {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleHeader {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articleHeader .userInfo {
  display: flex;
  flex-direction: row;
}
.articleHeader img {
  width: 60px;
  height: 60px;
}
.userInfo .userProfile {
  padding: 10px;
  margin-left: 5px;
}

.textArea {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.threeBtn {
  width: 10px;
  height: 10px;
  object-fit: cover;
}

.articleImg {
  width: 615px;
}

.articleFooter {
  width: 100%;
  padding: 4px 8px 0px 8px;
  /* padding: 10px, 30px; */
}
.iconbar {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.iconbar .btn {
  margin: auto 8px;
}
.iconWrapper {
  display: flex;
  flex-direction: row;
}

.commentArea {
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
}
.likeStatus {
  margin-bottom: 8px;
}
.comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.time {
  font-size: 0.75em;
}
.commentForm {
  width: 100%;
  border-top: 1px solid lightgray;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.commentInput {
  border: none;
}
.addBtn {
  border: none;
  background: none;
  color: #bee1fd;
}

.main-right {
  font-size: 14px;
  width: 293px;
  margin: 20px 0 0 30px;
}
.userProfile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.main-right .userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}
.main-right .userText {
  padding: 0 auto;
}
.recommendText {
  display: flex;
  justify-content: space-between;
}
.recommended .userInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}
.recommended .userProfile {
  width: 60px;
  height: 60px;
}
.recommended .userText {
  width: 170px;
}
.follow {
  border: none;
  background: none;
  color: #469edb;
}
.menu {
  margin-top: 25px;
  width: 100%;
  border-image-repeat: stretch;
  list-style: none;
  display: block;
  padding: 0;
  font-size: 11px;
}
.menu li {
  display: inline-block;
  line-height: 13px;
  vertical-align: baseline;
}
.copyright {
  font-size: 11px;
}
